{% extends "usermanager.html.twig" %}

{% block content %}
    <div class="hms-widget">
        <div class="row">
            <div class="col-xs-6" id="hmsSigninContainer"></div>
            <div class="col-xs-6" id="hmsSignupContainer"></div>
        </div>
    </div>
{% endblock %}

